TraderaWebService/Service References/BuyerService/buyerservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://api.tradera.com" xmlns:s1="http://api.tradera.com/AbstractTypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://api.tradera.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Services for the buyer.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://api.tradera.com">
      <s:element name="Bid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bidAmount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BidResult" type="tns:BidResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BidResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:BidStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="LeadingBidder" type="tns:Bidder" />
          <s:element minOccurs="1" maxOccurs="1" name="LeadingBid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NextBid" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="BidStatus">
        <s:restriction base="s:string">
          <s:enumeration value="LeadingBidder" />
          <s:enumeration value="HigherBidderExists" />
          <s:enumeration value="NotAllowed" />
          <s:enumeration value="BelowMinimum" />
          <s:enumeration value="Ended" />
          <s:enumeration value="UnexpectedError" />
          <s:enumeration value="NotStarted" />
          <s:enumeration value="RegionNotAccepted" />
          <s:enumeration value="OwnItem" />
          <s:enumeration value="ItemNotFound" />
          <s:enumeration value="NumberOfBidsLimitReached" />
          <s:enumeration value="BelowReservePrice" />
          <s:enumeration value="BidNotAvailableOnItem" />
          <s:enumeration value="ChangedMaxBid" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Bidder">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Alias" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalRating" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthenticationHeader" type="tns:AuthenticationHeader" />
      <s:complexType name="AuthenticationHeader">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AppId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AppKey" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="AuthorizationHeader" type="tns:AuthorizationHeader" />
      <s:complexType name="AuthorizationHeader">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ConfigurationHeader" type="tns:ConfigurationHeader" />
      <s:complexType name="ConfigurationHeader">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Sandbox" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxResultAge" type="s:int" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="Buy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="buyAmount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuyResult" type="tns:BuyResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BuyResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NextBid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:BuyStatus" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="BuyStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Bought" />
          <s:enumeration value="Ended" />
          <s:enumeration value="NotStarted" />
          <s:enumeration value="NotAllowed" />
          <s:enumeration value="PurchaseOwnItem" />
          <s:enumeration value="RegionNotAccepted" />
          <s:enumeration value="UnexpectedError" />
          <s:enumeration value="BuyItNowNoLongerAvailable" />
          <s:enumeration value="PriceChanged" />
          <s:enumeration value="ItemNotFound" />
          <s:enumeration value="NumberOfBuysLimitReached" />
          <s:enumeration value="BuyNotAvailableOnItem" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetMemorylistItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="filterActive" type="tns:ActiveFilter" />
            <s:element minOccurs="1" maxOccurs="1" name="minEndDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="maxEndDate" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ActiveFilter">
        <s:restriction base="s:string">
          <s:enumeration value="All" />
          <s:enumeration value="Active" />
          <s:enumeration value="Inactive" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetMemorylistItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemorylistItemsResult" type="tns:ArrayOfItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Item">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ShippingOptions" type="tns:ItemShipping" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentOptions" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageLinks" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Buyers" type="tns:User" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ItemStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="StartQuantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RemainingQuantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemType" type="tns:ItemType" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VAT" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ShortDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OwnReferences" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemAttributes" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="LongDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CategoryId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OpeningBid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReservePrice" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReservePriceReached" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="BuyItNowPrice" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NextBid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentCondition" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingCondition" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AcceptsPickup" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalBids" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MaxBid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Bold" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Thumbnail" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Highlight" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="FeaturedItem" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemLink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ThumbnailLink" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AcceptedBuyerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Payson" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PaysonGuarantee" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Paypal" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentTypeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Seller" type="tns:User" />
          <s:element minOccurs="0" maxOccurs="1" name="MaxBidder" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItemShipping">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ShippingOptionId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cost" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Alias" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalRating" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MobilePhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItemStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Ended" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="GotBidders" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="GotWinner" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ItemType">
        <s:restriction base="s:string">
          <s:enumeration value="Auction" />
          <s:enumeration value="PureBuyItNow" />
          <s:enumeration value="ShopItem" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AddToMemorylist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemIds" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddToMemorylistResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveFromMemorylist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemIds" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveFromMemorylistResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetBuyerTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:GetBuyerTransactionsRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetBuyerTransactionsRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MinTransactionDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxTransactionDate" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBuyerTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBuyerTransactionsResult" type="tns:ArrayOfTransaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Transaction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdatedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMarkedAsPaidConfirmed" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMarkedAsShipped" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsShippingBooked" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsFeedbackLeftBySeller" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsFeedbackLeftByBuyer" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Buyer" type="tns:User" />
          <s:element minOccurs="0" maxOccurs="1" name="Seller" type="tns:User" />
          <s:element minOccurs="0" maxOccurs="1" name="Item" type="tns:TransactionItem" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMarkedAsPaid" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:ItemType" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OwnReferences" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBiddingInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:GetBiddingInfoRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetBiddingInfoRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MinDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FilterActive" type="tns:ActiveFilter" />
          <s:element minOccurs="1" maxOccurs="1" name="IncludeHidden" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="FilterLeading" type="tns:LeadingFilter" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LeadingFilter">
        <s:restriction base="s:string">
          <s:enumeration value="All" />
          <s:enumeration value="OnlyLeading" />
          <s:enumeration value="OnlyNotLeading" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetBiddingInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBiddingInfoResult" type="tns:ArrayOfAuctionBiddingInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAuctionBiddingInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AuctionBiddingInfo" nillable="true" type="tns:AuctionBiddingInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AuctionBiddingInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ShortDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SellerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ThumbnailLink" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReservePriceReached" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HasBuyItNowOption" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="BuyItNowPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsEnded" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="NextBid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxBid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxBidderId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalBids" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxAutoBid" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSellerInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSellerInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSellerInfoResult" type="tns:SellerInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SellerInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DetailedSellerRating" type="tns:DetailedSellerRating" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalRating" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PositiveFeedbackPercent" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonalMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCompany" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HasShop" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DetailedSellerRating">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ItemAsDescribedCount" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemAsDescribedAverage" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CommResponsivenessCount" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CommResponsivenessAverage" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ShippingTimeCount" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ShippingTimeAverage" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ShippingHandlingChargesCount" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ShippingHandlingChargesAverage" nillable="true" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="MarkTransactionsPaid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:ArrayOfMarkTransactionsPaidRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMarkTransactionsPaidRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MarkTransactionsPaidRequest" nillable="true" type="tns:MarkTransactionsPaidRequest" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MarkTransactionsPaidRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TransactionId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MarkedAsPaidValue" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="MarkTransactionsPaidResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendQuestionToSeller">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="question" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sendCopyToSender" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendQuestionToSellerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendQuestionToSellerResult" type="tns:ContactSellerResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ContactSellerResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InitPayPalPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="transactionId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitPayPalPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InitPayPalPaymentResult" type="tns:InitPayPalPaymentResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InitPayPalPaymentResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PaymentUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="VerifyPayPalPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="transactionId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyPayPalPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyPayPalPaymentResult" type="tns:VerifyPayPalPaymentResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VerifyPayPalPaymentResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsCompleted" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BidResult" nillable="true" type="tns:BidResult" />
      <s:element name="BuyResult" nillable="true" type="tns:BuyResult" />
      <s:element name="SellerInfo" nillable="true" type="tns:SellerInfo" />
      <s:element name="ContactSellerResult" nillable="true" type="tns:ContactSellerResult" />
      <s:element name="InitPayPalPaymentResult" nillable="true" type="tns:InitPayPalPaymentResult" />
      <s:element name="VerifyPayPalPaymentResult" nillable="true" type="tns:VerifyPayPalPaymentResult" />
    </s:schema>
    <s:schema targetNamespace="http://api.tradera.com/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BidSoapIn">
    <wsdl:part name="parameters" element="tns:Bid" />
  </wsdl:message>
  <wsdl:message name="BidSoapOut">
    <wsdl:part name="parameters" element="tns:BidResponse" />
  </wsdl:message>
  <wsdl:message name="BidAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="BidAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="BidConfigurationHeader">
    <wsdl:part name="ConfigurationHeader" element="tns:ConfigurationHeader" />
  </wsdl:message>
  <wsdl:message name="BuySoapIn">
    <wsdl:part name="parameters" element="tns:Buy" />
  </wsdl:message>
  <wsdl:message name="BuySoapOut">
    <wsdl:part name="parameters" element="tns:BuyResponse" />
  </wsdl:message>
  <wsdl:message name="BuyAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="BuyAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="BuyConfigurationHeader">
    <wsdl:part name="ConfigurationHeader" element="tns:ConfigurationHeader" />
  </wsdl:message>
  <wsdl:message name="GetMemorylistItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMemorylistItems" />
  </wsdl:message>
  <wsdl:message name="GetMemorylistItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemorylistItemsResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemorylistItemsAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetMemorylistItemsAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="GetMemorylistItemsConfigurationHeader">
    <wsdl:part name="ConfigurationHeader" element="tns:ConfigurationHeader" />
  </wsdl:message>
  <wsdl:message name="AddToMemorylistSoapIn">
    <wsdl:part name="parameters" element="tns:AddToMemorylist" />
  </wsdl:message>
  <wsdl:message name="AddToMemorylistSoapOut">
    <wsdl:part name="parameters" element="tns:AddToMemorylistResponse" />
  </wsdl:message>
  <wsdl:message name="AddToMemorylistAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="AddToMemorylistAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="AddToMemorylistConfigurationHeader">
    <wsdl:part name="ConfigurationHeader" element="tns:ConfigurationHeader" />
  </wsdl:message>
  <wsdl:message name="RemoveFromMemorylistSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveFromMemorylist" />
  </wsdl:message>
  <wsdl:message name="RemoveFromMemorylistSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveFromMemorylistResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveFromMemorylistAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="RemoveFromMemorylistAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="RemoveFromMemorylistConfigurationHeader">
    <wsdl:part name="ConfigurationHeader" element="tns:ConfigurationHeader" />
  </wsdl:message>
  <wsdl:message name="GetBuyerTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBuyerTransactions" />
  </wsdl:message>
  <wsdl:message name="GetBuyerTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBuyerTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetBuyerTransactionsAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetBuyerTransactionsAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="GetBuyerTransactionsConfigurationHeader">
    <wsdl:part name="ConfigurationHeader" element="tns:ConfigurationHeader" />
  </wsdl:message>
  <wsdl:message name="GetBiddingInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetBiddingInfo" />
  </wsdl:message>
  <wsdl:message name="GetBiddingInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetBiddingInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetBiddingInfoAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetBiddingInfoAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="GetBiddingInfoConfigurationHeader">
    <wsdl:part name="ConfigurationHeader" element="tns:ConfigurationHeader" />
  </wsdl:message>
  <wsdl:message name="GetSellerInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetSellerInfo" />
  </wsdl:message>
  <wsdl:message name="GetSellerInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetSellerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetSellerInfoAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetSellerInfoConfigurationHeader">
    <wsdl:part name="ConfigurationHeader" element="tns:ConfigurationHeader" />
  </wsdl:message>
  <wsdl:message name="MarkTransactionsPaidSoapIn">
    <wsdl:part name="parameters" element="tns:MarkTransactionsPaid" />
  </wsdl:message>
  <wsdl:message name="MarkTransactionsPaidSoapOut">
    <wsdl:part name="parameters" element="tns:MarkTransactionsPaidResponse" />
  </wsdl:message>
  <wsdl:message name="MarkTransactionsPaidAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="MarkTransactionsPaidAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="MarkTransactionsPaidConfigurationHeader">
    <wsdl:part name="ConfigurationHeader" element="tns:ConfigurationHeader" />
  </wsdl:message>
  <wsdl:message name="SendQuestionToSellerSoapIn">
    <wsdl:part name="parameters" element="tns:SendQuestionToSeller" />
  </wsdl:message>
  <wsdl:message name="SendQuestionToSellerSoapOut">
    <wsdl:part name="parameters" element="tns:SendQuestionToSellerResponse" />
  </wsdl:message>
  <wsdl:message name="SendQuestionToSellerAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="SendQuestionToSellerAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="SendQuestionToSellerConfigurationHeader">
    <wsdl:part name="ConfigurationHeader" element="tns:ConfigurationHeader" />
  </wsdl:message>
  <wsdl:message name="InitPayPalPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:InitPayPalPayment" />
  </wsdl:message>
  <wsdl:message name="InitPayPalPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:InitPayPalPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="InitPayPalPaymentAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="InitPayPalPaymentAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="InitPayPalPaymentConfigurationHeader">
    <wsdl:part name="ConfigurationHeader" element="tns:ConfigurationHeader" />
  </wsdl:message>
  <wsdl:message name="VerifyPayPalPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyPayPalPayment" />
  </wsdl:message>
  <wsdl:message name="VerifyPayPalPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyPayPalPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyPayPalPaymentAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="VerifyPayPalPaymentAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="VerifyPayPalPaymentConfigurationHeader">
    <wsdl:part name="ConfigurationHeader" element="tns:ConfigurationHeader" />
  </wsdl:message>
  <wsdl:message name="BidHttpGetIn">
    <wsdl:part name="itemId" type="s:string" />
    <wsdl:part name="bidAmount" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BidHttpGetOut">
    <wsdl:part name="Body" element="tns:BidResult" />
  </wsdl:message>
  <wsdl:message name="BuyHttpGetIn">
    <wsdl:part name="itemId" type="s:string" />
    <wsdl:part name="buyAmount" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BuyHttpGetOut">
    <wsdl:part name="Body" element="tns:BuyResult" />
  </wsdl:message>
  <wsdl:message name="AddToMemorylistHttpGetIn">
    <wsdl:part name="itemIds" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="AddToMemorylistHttpGetOut" />
  <wsdl:message name="RemoveFromMemorylistHttpGetIn">
    <wsdl:part name="itemIds" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="RemoveFromMemorylistHttpGetOut" />
  <wsdl:message name="GetSellerInfoHttpGetIn">
    <wsdl:part name="userId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSellerInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:SellerInfo" />
  </wsdl:message>
  <wsdl:message name="SendQuestionToSellerHttpGetIn">
    <wsdl:part name="itemId" type="s:string" />
    <wsdl:part name="question" type="s:string" />
    <wsdl:part name="sendCopyToSender" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendQuestionToSellerHttpGetOut">
    <wsdl:part name="Body" element="tns:ContactSellerResult" />
  </wsdl:message>
  <wsdl:message name="InitPayPalPaymentHttpGetIn">
    <wsdl:part name="transactionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InitPayPalPaymentHttpGetOut">
    <wsdl:part name="Body" element="tns:InitPayPalPaymentResult" />
  </wsdl:message>
  <wsdl:message name="VerifyPayPalPaymentHttpGetIn">
    <wsdl:part name="transactionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerifyPayPalPaymentHttpGetOut">
    <wsdl:part name="Body" element="tns:VerifyPayPalPaymentResult" />
  </wsdl:message>
  <wsdl:message name="BidHttpPostIn">
    <wsdl:part name="itemId" type="s:string" />
    <wsdl:part name="bidAmount" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BidHttpPostOut">
    <wsdl:part name="Body" element="tns:BidResult" />
  </wsdl:message>
  <wsdl:message name="BuyHttpPostIn">
    <wsdl:part name="itemId" type="s:string" />
    <wsdl:part name="buyAmount" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BuyHttpPostOut">
    <wsdl:part name="Body" element="tns:BuyResult" />
  </wsdl:message>
  <wsdl:message name="AddToMemorylistHttpPostIn">
    <wsdl:part name="itemIds" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="AddToMemorylistHttpPostOut" />
  <wsdl:message name="RemoveFromMemorylistHttpPostIn">
    <wsdl:part name="itemIds" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="RemoveFromMemorylistHttpPostOut" />
  <wsdl:message name="GetSellerInfoHttpPostIn">
    <wsdl:part name="userId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSellerInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:SellerInfo" />
  </wsdl:message>
  <wsdl:message name="SendQuestionToSellerHttpPostIn">
    <wsdl:part name="itemId" type="s:string" />
    <wsdl:part name="question" type="s:string" />
    <wsdl:part name="sendCopyToSender" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendQuestionToSellerHttpPostOut">
    <wsdl:part name="Body" element="tns:ContactSellerResult" />
  </wsdl:message>
  <wsdl:message name="InitPayPalPaymentHttpPostIn">
    <wsdl:part name="transactionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InitPayPalPaymentHttpPostOut">
    <wsdl:part name="Body" element="tns:InitPayPalPaymentResult" />
  </wsdl:message>
  <wsdl:message name="VerifyPayPalPaymentHttpPostIn">
    <wsdl:part name="transactionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerifyPayPalPaymentHttpPostOut">
    <wsdl:part name="Body" element="tns:VerifyPayPalPaymentResult" />
  </wsdl:message>
  <wsdl:portType name="BuyerServiceSoap">
    <wsdl:operation name="Bid">
      <wsdl:input message="tns:BidSoapIn" />
      <wsdl:output message="tns:BidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Buy">
      <wsdl:input message="tns:BuySoapIn" />
      <wsdl:output message="tns:BuySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMemorylistItems">
      <wsdl:input message="tns:GetMemorylistItemsSoapIn" />
      <wsdl:output message="tns:GetMemorylistItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddToMemorylist">
      <wsdl:input message="tns:AddToMemorylistSoapIn" />
      <wsdl:output message="tns:AddToMemorylistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFromMemorylist">
      <wsdl:input message="tns:RemoveFromMemorylistSoapIn" />
      <wsdl:output message="tns:RemoveFromMemorylistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBuyerTransactions">
      <wsdl:input message="tns:GetBuyerTransactionsSoapIn" />
      <wsdl:output message="tns:GetBuyerTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBiddingInfo">
      <wsdl:input message="tns:GetBiddingInfoSoapIn" />
      <wsdl:output message="tns:GetBiddingInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSellerInfo">
      <wsdl:input message="tns:GetSellerInfoSoapIn" />
      <wsdl:output message="tns:GetSellerInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MarkTransactionsPaid">
      <wsdl:input message="tns:MarkTransactionsPaidSoapIn" />
      <wsdl:output message="tns:MarkTransactionsPaidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendQuestionToSeller">
      <wsdl:input message="tns:SendQuestionToSellerSoapIn" />
      <wsdl:output message="tns:SendQuestionToSellerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InitPayPalPayment">
      <wsdl:input message="tns:InitPayPalPaymentSoapIn" />
      <wsdl:output message="tns:InitPayPalPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyPayPalPayment">
      <wsdl:input message="tns:VerifyPayPalPaymentSoapIn" />
      <wsdl:output message="tns:VerifyPayPalPaymentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BuyerServiceHttpGet">
    <wsdl:operation name="Bid">
      <wsdl:input message="tns:BidHttpGetIn" />
      <wsdl:output message="tns:BidHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Buy">
      <wsdl:input message="tns:BuyHttpGetIn" />
      <wsdl:output message="tns:BuyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddToMemorylist">
      <wsdl:input message="tns:AddToMemorylistHttpGetIn" />
      <wsdl:output message="tns:AddToMemorylistHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFromMemorylist">
      <wsdl:input message="tns:RemoveFromMemorylistHttpGetIn" />
      <wsdl:output message="tns:RemoveFromMemorylistHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSellerInfo">
      <wsdl:input message="tns:GetSellerInfoHttpGetIn" />
      <wsdl:output message="tns:GetSellerInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendQuestionToSeller">
      <wsdl:input message="tns:SendQuestionToSellerHttpGetIn" />
      <wsdl:output message="tns:SendQuestionToSellerHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InitPayPalPayment">
      <wsdl:input message="tns:InitPayPalPaymentHttpGetIn" />
      <wsdl:output message="tns:InitPayPalPaymentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyPayPalPayment">
      <wsdl:input message="tns:VerifyPayPalPaymentHttpGetIn" />
      <wsdl:output message="tns:VerifyPayPalPaymentHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BuyerServiceHttpPost">
    <wsdl:operation name="Bid">
      <wsdl:input message="tns:BidHttpPostIn" />
      <wsdl:output message="tns:BidHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Buy">
      <wsdl:input message="tns:BuyHttpPostIn" />
      <wsdl:output message="tns:BuyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddToMemorylist">
      <wsdl:input message="tns:AddToMemorylistHttpPostIn" />
      <wsdl:output message="tns:AddToMemorylistHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFromMemorylist">
      <wsdl:input message="tns:RemoveFromMemorylistHttpPostIn" />
      <wsdl:output message="tns:RemoveFromMemorylistHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSellerInfo">
      <wsdl:input message="tns:GetSellerInfoHttpPostIn" />
      <wsdl:output message="tns:GetSellerInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendQuestionToSeller">
      <wsdl:input message="tns:SendQuestionToSellerHttpPostIn" />
      <wsdl:output message="tns:SendQuestionToSellerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InitPayPalPayment">
      <wsdl:input message="tns:InitPayPalPaymentHttpPostIn" />
      <wsdl:output message="tns:InitPayPalPaymentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyPayPalPayment">
      <wsdl:input message="tns:VerifyPayPalPaymentHttpPostIn" />
      <wsdl:output message="tns:VerifyPayPalPaymentHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BuyerServiceSoap" type="tns:BuyerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Bid">
      <soap:operation soapAction="http://api.tradera.com/Bid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:BidAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap:header message="tns:BidAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap:header message="tns:BidConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buy">
      <soap:operation soapAction="http://api.tradera.com/Buy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:BuyAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap:header message="tns:BuyAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap:header message="tns:BuyConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemorylistItems">
      <soap:operation soapAction="http://api.tradera.com/GetMemorylistItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetMemorylistItemsAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap:header message="tns:GetMemorylistItemsAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap:header message="tns:GetMemorylistItemsConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToMemorylist">
      <soap:operation soapAction="http://api.tradera.com/AddToMemorylist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddToMemorylistAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap:header message="tns:AddToMemorylistAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap:header message="tns:AddToMemorylistConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFromMemorylist">
      <soap:operation soapAction="http://api.tradera.com/RemoveFromMemorylist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RemoveFromMemorylistAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap:header message="tns:RemoveFromMemorylistAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap:header message="tns:RemoveFromMemorylistConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuyerTransactions">
      <soap:operation soapAction="http://api.tradera.com/GetBuyerTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetBuyerTransactionsAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap:header message="tns:GetBuyerTransactionsAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap:header message="tns:GetBuyerTransactionsConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBiddingInfo">
      <soap:operation soapAction="http://api.tradera.com/GetBiddingInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetBiddingInfoAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap:header message="tns:GetBiddingInfoAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap:header message="tns:GetBiddingInfoConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSellerInfo">
      <soap:operation soapAction="http://api.tradera.com/GetSellerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetSellerInfoAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap:header message="tns:GetSellerInfoConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkTransactionsPaid">
      <soap:operation soapAction="http://api.tradera.com/MarkTransactionsPaid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:MarkTransactionsPaidAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap:header message="tns:MarkTransactionsPaidAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap:header message="tns:MarkTransactionsPaidConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendQuestionToSeller">
      <soap:operation soapAction="http://api.tradera.com/SendQuestionToSeller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SendQuestionToSellerAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap:header message="tns:SendQuestionToSellerAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap:header message="tns:SendQuestionToSellerConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitPayPalPayment">
      <soap:operation soapAction="http://api.tradera.com/InitPayPalPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InitPayPalPaymentAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap:header message="tns:InitPayPalPaymentAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap:header message="tns:InitPayPalPaymentConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyPayPalPayment">
      <soap:operation soapAction="http://api.tradera.com/VerifyPayPalPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:VerifyPayPalPaymentAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap:header message="tns:VerifyPayPalPaymentAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap:header message="tns:VerifyPayPalPaymentConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BuyerServiceSoap12" type="tns:BuyerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Bid">
      <soap12:operation soapAction="http://api.tradera.com/Bid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:BidAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap12:header message="tns:BidAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap12:header message="tns:BidConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buy">
      <soap12:operation soapAction="http://api.tradera.com/Buy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:BuyAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap12:header message="tns:BuyAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap12:header message="tns:BuyConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemorylistItems">
      <soap12:operation soapAction="http://api.tradera.com/GetMemorylistItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetMemorylistItemsAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap12:header message="tns:GetMemorylistItemsAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap12:header message="tns:GetMemorylistItemsConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToMemorylist">
      <soap12:operation soapAction="http://api.tradera.com/AddToMemorylist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddToMemorylistAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap12:header message="tns:AddToMemorylistAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap12:header message="tns:AddToMemorylistConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFromMemorylist">
      <soap12:operation soapAction="http://api.tradera.com/RemoveFromMemorylist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RemoveFromMemorylistAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap12:header message="tns:RemoveFromMemorylistAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap12:header message="tns:RemoveFromMemorylistConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuyerTransactions">
      <soap12:operation soapAction="http://api.tradera.com/GetBuyerTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetBuyerTransactionsAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap12:header message="tns:GetBuyerTransactionsAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap12:header message="tns:GetBuyerTransactionsConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBiddingInfo">
      <soap12:operation soapAction="http://api.tradera.com/GetBiddingInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetBiddingInfoAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap12:header message="tns:GetBiddingInfoAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap12:header message="tns:GetBiddingInfoConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSellerInfo">
      <soap12:operation soapAction="http://api.tradera.com/GetSellerInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSellerInfoAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap12:header message="tns:GetSellerInfoConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkTransactionsPaid">
      <soap12:operation soapAction="http://api.tradera.com/MarkTransactionsPaid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:MarkTransactionsPaidAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap12:header message="tns:MarkTransactionsPaidAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap12:header message="tns:MarkTransactionsPaidConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendQuestionToSeller">
      <soap12:operation soapAction="http://api.tradera.com/SendQuestionToSeller" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SendQuestionToSellerAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap12:header message="tns:SendQuestionToSellerAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap12:header message="tns:SendQuestionToSellerConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitPayPalPayment">
      <soap12:operation soapAction="http://api.tradera.com/InitPayPalPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InitPayPalPaymentAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap12:header message="tns:InitPayPalPaymentAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap12:header message="tns:InitPayPalPaymentConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyPayPalPayment">
      <soap12:operation soapAction="http://api.tradera.com/VerifyPayPalPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:VerifyPayPalPaymentAuthenticationHeader" part="AuthenticationHeader" use="literal" />
        <soap12:header message="tns:VerifyPayPalPaymentAuthorizationHeader" part="AuthorizationHeader" use="literal" />
        <soap12:header message="tns:VerifyPayPalPaymentConfigurationHeader" part="ConfigurationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BuyerServiceHttpGet" type="tns:BuyerServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Bid">
      <http:operation location="/Bid" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buy">
      <http:operation location="/Buy" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToMemorylist">
      <http:operation location="/AddToMemorylist" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="RemoveFromMemorylist">
      <http:operation location="/RemoveFromMemorylist" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetSellerInfo">
      <http:operation location="/GetSellerInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendQuestionToSeller">
      <http:operation location="/SendQuestionToSeller" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitPayPalPayment">
      <http:operation location="/InitPayPalPayment" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyPayPalPayment">
      <http:operation location="/VerifyPayPalPayment" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BuyerServiceHttpPost" type="tns:BuyerServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Bid">
      <http:operation location="/Bid" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buy">
      <http:operation location="/Buy" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToMemorylist">
      <http:operation location="/AddToMemorylist" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="RemoveFromMemorylist">
      <http:operation location="/RemoveFromMemorylist" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetSellerInfo">
      <http:operation location="/GetSellerInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendQuestionToSeller">
      <http:operation location="/SendQuestionToSeller" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitPayPalPayment">
      <http:operation location="/InitPayPalPayment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyPayPalPayment">
      <http:operation location="/VerifyPayPalPayment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BuyerService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Services for the buyer.</wsdl:documentation>
    <wsdl:port name="BuyerServiceSoap" binding="tns:BuyerServiceSoap">
      <soap:address location="http://api.tradera.com/v3/buyerservice.asmx" />
    </wsdl:port>
    <wsdl:port name="BuyerServiceSoap12" binding="tns:BuyerServiceSoap12">
      <soap12:address location="http://api.tradera.com/v3/buyerservice.asmx" />
    </wsdl:port>
    <wsdl:port name="BuyerServiceHttpGet" binding="tns:BuyerServiceHttpGet">
      <http:address location="http://api.tradera.com/v3/buyerservice.asmx" />
    </wsdl:port>
    <wsdl:port name="BuyerServiceHttpPost" binding="tns:BuyerServiceHttpPost">
      <http:address location="http://api.tradera.com/v3/buyerservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>